.news {
	text-align: center;
	border: 2px black solid;
	margin: 10px 20% 10px 20%;
}
.date {
	display: flex;
	justify-content: space-between;
	padding: 0 20px 0 20px;
	font-size: 0.9em;
}
form {
	text-align: center;
}
h1 {
	text-align: center;
}
.editNews {
	text-align: center;
}
form {
	text-align: center;
}
table {
	width: 60%;
	margin:auto;
 	text-align: center;
	border-collapse: collapse;
}
table, td {
	border: 1px solid black;
}